.header{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    height: 3em;    
}
.list_pig{
  overflow-y: auto;  
  position: fixed;
  top: 3em;
  left:0;
  right: 0;
  bottom: 0;
}
.typeios .header{
    top: 1em;
}
.typeios .list_pig{
  top: 4em;  
}
.list_pig li{
    margin-top: 0.5em;
    background: #fff;
}
.list_pig li:first-child{
    margin-top: 0.25em;
}
.list_title{
    border-bottom: solid 1px #dedfe0;
    position: relative;
    margin: 0 0.625em;
    padding-top: 0.66em;
    padding-bottom: 0.3em;
    
}
.list_title h2{
    font-size: 1em;
    color: #12B7F5;
    font-weight: normal;
}
.list_title span{
    color: #fff;
    text-align: center;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    font-size: 0.94em;
    position: absolute;
    right: 0;
    bottom: 0.3em;
    padding: 0.2em 0.3em;
    background: #00d3a3;
    border-radius: 0.2em;
}
.list_content{
    padding-top: 1em;
    padding-bottom: 0.66em;
}
.icon_pigs{
    float: left;
    width: 25%;
    text-align: center;
    border-right: solid 1px #cccccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/childcarePig.png) center center no-repeat;
    background-size: 3.4em auto;
}
.fattenPig{
    background: url(../img/fattenPig.png) center center no-repeat;
    background-size: 3.4em auto;
}
.icon_pigs img{
    width: 70%;
}
.item_data{
    float: left;
    width: 25%;
    text-align: center;
}
.icon_pigs,.item_data{
    height: 3em;
}
.item_data span{
    text-align: center;
    color: #999999;
}
.item_data .number_box{
    font-size: 1.2em;
    color: #000;
    margin-bottom: 0.1em;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 0.3em;
}
.number_box input{
    width: 2em;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1em;
    overflow-x:visible;
    overflow-y:visible;
}

.number_box i{
    width: 40%;
}
.item_data .unit{
    display: block;  
    margin-top: 0.3em;  
    font-size: 0.875em;
}
.item_data i{
    font-size: 0.66em;
    color: #333333;
}

.editing .list_title span{
    background: #12B7F5;
}
.editing .number_box input{
    border-bottom: solid 2px #ccc;
    color: #999999;
}
input:disabled{
background-color:#fff;
}
.riling input{
    width: 2em;
}
.pig_num{
    width: 20%;
}
.pig_weight{
    width: 32%;
}
.pig_weight input{
    width: 2.5em;
}
.pig_age{
    width: 20%;
}
.pig_junzhong input{
    width: 2.5em;
}
