.typeios .body_box{
    top: 1em;
}
.typeios .Tnav{
    top: 1em;
}
.bor-r{
    border-radius: .2em;
}
.bor-tlr{
    border-radius: 0.2em .2em 0 0;
}
.bor-blr{
    border-radius: 0 0 .2em .2em;
}
.bor-bl{
    border-radius: 0 0 0 .2em;
}
.bor-br{
    border-radius: 0  0 .2em  0;
}
.bor-bt{
    border-radius: .2em 0 0 0;
}
.bor-btr{
    border-radius: 0  .2em 0 0;
}
.guidanceone{
    background:#fff url(../img/pageone.png) center center no-repeat;
}
.guidanceTwo{
    background:#fff url(../img/pagetwo.png) center center no-repeat;
}
.guidanceThree{
    background:#fff url(../img/pagethree.png) center center no-repeat;
}
.guidance{
    height: 3.6em;
    background-position: center center;
    background-size: 90% auto;
    margin-bottom: -.2em;
}
.piginfo h1{
    height: 2.2em;
    line-height: 2.2em;
    font-weight:normal;
}
.entering{
    height: 3.2em;
    line-height: 3.2em;
    padding: 0 .4em;
}
.amenddata{
    position:relative;
    padding-right: 1em;
    color:#b5b5b5;
}
.amenddata i{
    position: absolute;
    right: 0em;
    top:0;
    bottom: 0;
    display: block;
    line-height: 1.6;
    color:#b5b5b5;
}
.amendmore,.amendmore i{
    color: #6e6e6e;
}

.entering span{
    font-size: 1.2em;
}
.numberday{
    background: #fff url(../img/time.png);
}
.dateline{
   background: #fff url(../img/day.png); 
}
.parity{
    background: #fff url(../img/parity.png);
}
.farrowing{
    background: #fff url(../img/produce.png);
}
.live{
    background:#fff  url(../img/work.png);
}
.Weight{
    background: #fff url(../img/again.png);
}
.btnicon{
    background: url(../img/del.png) center center no-repeat;
    background-size: 1.6em auto;
}
.counterpoise{
    background: #fff url(../img/again.png) center center no-repeat;
    background-size: 1.6em auto;
}
.quantity{
    background: #fff url(../img/data.png) center center no-repeat;
    background-size: 1.6em auto;
}


.itme_time,.datatime{
     background: #fff url(../img/typedate.png) center center no-repeat;
    background-size: 1.2em auto;
}
.itme{
    line-height: 3.4em;
    height: 3.4em;
    padding:0 .2em;
    background-size: 1.18em auto;
    background-position: left .625em  center;
    background-repeat: no-repeat;
    padding-left: 2.2em;
}
.datamain{
    margin: .625em;
    border-radius: .3em;
    margin-top: 1em;

}
.datahintp{
      margin-top: 1.2em;  
}
.datamain input{
    border: none;
    outline: none;
    padding: .4em;
    font-size: 1em;
    background:none;
    line-height: 1em;
    height: 1em;
   
}
.specific .itme{
    width: 50%;
}
.itme_time,.itme_unit{
    min-width: 2em;
}
.hintp{
    margin-top: -.4em;
    margin-bottom: .6em;
}
.elevator{
    position: relative;
    height:1.2em;
    margin-top: 1.2em;
}
.elevator span{
    position: absolute;
    display:inline-block;
    left: 50%;
    top: -.8em;
    background: #f0f0f0;
    padding: .2em .6em;
    transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}
.activelist{
  -webkit-box-shadow:0 0 1em rgba(18, 183, 245, .5);  
  -moz-box-shadow:0 0 1em rgba(18, 183, 245, .5);  
  box-shadow:0 0 1em rgba(18, 183, 245, .5); 
  z-index: 9999;
}

/* 定义keyframe动画，命名为blink */

@keyframes string{

  0%{opacity: 1;}

  50%{opacity: 1;}

  50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */

  100%{opacity: 0;}

}

/* 添加兼容性前缀 */

@-webkit-keyframes string {

    0% { opacity: 1; }

    50% { opacity: 1; }

    50.01% { opacity: 0; }

    100% { opacity: 0; }

}

@-moz-keyframes string {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes string {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }

}

@-o-keyframes string {

    0% { opacity: 1; }

    50% { opacity: 1; }

    50.01% { opacity: 0; }

    100% { opacity: 0; }

}
.uinput{
    position:relative;
}
.string{
    display:none;
    position:absolute;
    right:.4em;
    top:.8em;
    bottom:.8em;
    animation: string .75s linear infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation: string .75s linear infinite;
    -moz-animation: string .75s linear infinite;
    -ms-animation: string .75s linear infinite;
    -o-animation: string .75s linear infinite;
    width: .1em;
    background: #909090;
}
.stringshow{
    display:block;
}
.navicon{
    width:2em;
    height: 3em;
    margin-left: -.6em;
}
.navicon .fa{
    margin-top: .2em;
}
.nubr{
    border-right: none;
}
.combine .itme{
    width: 50%;
}
