.header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.list_pig{
    position: fixed;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.typeios .header{
    top: 1em;
}
.list_pig{
    top: 4em;
}
.list_pig li{
    margin-top: 0.5em;
    background: #fff;
}
.list_pig li:first-child{
    margin-top: 0.25em;
}
.list_title{
    border-bottom: solid 1px #dedfe0;
    position: relative;
    margin: 0 0.625em;
    padding-top: 0.66em;
    padding-bottom: 0.3em;
}
.list_title h2{
    font-size: 1em;
    color: #12B7F5;
    font-weight: normal;
}
.list_title span{
    color: #fff;
    text-align: center;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    font-size: 0.94em;
    position: absolute;
    right: 0;
    bottom: 0.3em;
    padding: 0.2em .4em;
    background: #00d3a3;
    border-radius: 0.2em;
}
.list_content{
    padding-top: 1em;
    padding-bottom: 0.66em;
}
.item_pig{
    width: 50%;
    border-color: #cccccc;
    color: #999999;
    text-align: center;
}
.item_pig .number_box{
    font-size: 1.2em;
    color: #000;
    margin-bottom: 0.1em;
    position: relative;
    width: 100%;
    display: block;
    margin-top: 0.3em;
}
.number_box input{
    width: 1.5em;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1em;  
    overflow-x:visible;
    overflow-y:visible; 
}
/*.number_box i{
    display: block;
    width: 40%;
    text-align:left;
    float: left;
    margin-top: 0.3em;
}*/
.item_pig i{
    font-size: 0.66em;
    color: #333333;
}
.item_pig .unit{
    display: block;
    margin-top: 0.3em;
}
.data_pig input{
    width: 6em;
}
/*编辑*/
.editing .list_title span{
    background: #12B7F5;
}
.editing .number_box input{
    color: #999999;
    padding-bottom: 0.1em;
    border-bottom: solid 2px #e1e1e1;
}
.tianshu input{
    width: 2em;
}
